.header-css {
  background-color: rgb(245, 175, 53);
  border-bottom: solid 1px rgb(231, 146, 0, 0.9);
  color: black;

  /* border: red solid 1px; */
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header-title button {
  background-color: rgb(245, 175, 53);
  border: 0;
}

.header-title {
  align-items: center;

  /* border: palevioletred solid 1px; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header-title h3 {
  font-size: large;
  font-style: italic;
  font-weight: 100;
}

.all-search-header {

  /* border: green solid 1px; */
  display: flex;
  flex-direction: column;
}

.search-header {
  align-items: center;
  display: flex;

  /* border: blue solid 1px; */
  font-size: small;
  justify-content: space-around;
  padding-bottom: 3px;
  padding-top: 3px;
  width: 100%;
}

.search-header button {
  background-color: rgb(240, 165, 35);
  border: 0;
  border-radius: 10px;
}

